/*fluid bootsrap container*/
.container-fluid
  /*bootstrap page header*/
  .page-header
    %h2= t('.title')
  /* main about us content */
  %p= t('.about-us')
  %img.img-thumbnail.img-fluid{:size => "10%", :alt => "founder", :src => "/assets/founder.jpg"}/
