%h1 Editing player

= render 'form'
%br
%a.btn.btn-info{:href => player_path(@player), :role => "button"}=t('.show')
%a.btn.btn-danger{:href => "javascript:history.back()", :role => "button"}=t('.back')
