%h1 Editing university

= render 'form'

%br
%a.btn.btn-info{:href => university_path(@university), :role => "button"}=t('.show')
%a.btn.btn-danger{:href => universities_path, :role => "button"}=t('.back')
